*{
    margin:0px;
    padding:0px;
    color: white;
}
.navbar{
    padding: 0px; 
}
.navbar-nav{
    margin-left: 500px;
}
.nav-link{
    margin: 0px 15px;
    color: white;
    transition: 0.5s;
}
.nav-link:hover{
    margin: 0px 15px;
    color: orange;
}
.nav-item .bye{
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 0px;
    background-color: #ff7300;
    border-radius: 30px;
}

.container-fluid a{
    color: white;
}

@media (max-width:991px){

}
@media (max-width:768px){
.navbar-nav{
    padding-right: 190px;
    margin-left: 250px;
}
.bye{
    position: relative;
    top: 25px;
}
}
@media (max-width:480px){
    .nav-item{
        border-top: 1px solid black;
        margin: 10px 0px;
        padding: 10px auto;
        border-radius: 10px;
        
    }
    .button_apply{
        border-top: 1px solid black;
        margin-top: 10px;
        padding: 5px 20px;
    }
    .nav-item .nav-link{
        font-size: 18px;
        color: rgb(255, 119, 0);
    }
    .nav-link:hover{
        color: white;
        font-weight: 800;
    }
    .navbar-nav{
        width:100%;
        margin: 10px auto;
        padding-right: 0px;
        
    }
    .navbar-toggler-icon{
        float: right;
    }
}

